/* Muda altura dos gráficos conforme o tamanho da tela
-------------------------------------------------------- */

.grafico { width: 100%; height: 400px; }
.grafico > .highcharts-container { height: 400px; }

/* @screen-sm-min: 768px; */
@media (min-width: 768px) {
  .grafico { height: 500px; }
  .grafico > .highcharts-container { height: 500px; }
}

/* @screen-md-min: 992px; */
@media (min-width: 992px) {
  .grafico { height: 600px; }
  .grafico > .highcharts-container { height: 600px; }
}


/* Rodapé grudento
-------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
}

#rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  background-color: #eee;
  padding: 20px 20px 0;
  text-align: center;
}

#dedicacao > .glyphicon-heart { color: #DC143C; } /* Crimson */


/* Filtros
-------------------------------------------------------- */

.filter-option > .regiao-regiao {
  display: inline-block;
}

.filter-option > .regiao-bandeiras {
  max-width: 61.8%;
  float: right;
}


/* FAQ
-------------------------------------------------------- */

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\e072"; /* "play" */
  float: right;
  font-size: 18px;
  line-height: 22px;
  color: #F58723;
  /* Gira pra cima */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  color: #454444;
  /* Gira pra baixo */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
