/*
 *  Muda altura dos gráficos conforme o tamanho da tela
 */

.grafico { width: 100%; height: 400px; }
.grafico > .highcharts-container { height: 400px; }

/* @screen-sm-min: 768px; */
@media (min-width: 768px) {
  .grafico { height: 500px; }
  .grafico > .highcharts-container { height: 500px; }
}

/* @screen-md-min: 992px; */
@media (min-width: 992px) {
  .grafico { height: 600px; }
  .grafico > .highcharts-container { height: 600px; }
}
